# Eclipse
.project
.classpath
.settings/

# Maven
target/

# Sistema
.DS_Store
Thumbs.db

# H2
.localdb/
*.mv.db
*.h2.db
*.trace.db
*.lock.db

# Logs
*.log

# IDEs Intellij
.idea/
*.iml

# Testes
test-output/

# Configuração temporária
.env

